/* Here you can adjust NUI colors */
/* DONT CHANGE COLOR FORMAT! It's must stay as 3 numbers separated with spaces representing rgb format */

:root {
	--color-accent: 103 155 255;
	--color-danger: 255 0 61;
	--color-background-primary: 200 215 239;
	--color-text-primary: 255 255 255;
	--color-text-secondary: 235 235 245;
}
